.menu {
  padding: 10px;
  margin-bottom: 10px;
  position: fixed;
  background-color: rgba(237, 247, 255, 0.55);
  margin-right: 10px;
  border: 5px solid #ffdd50;
  bottom:0;
  right:0;
}
.font1 {
  font-family: Consolas, 'Courier New', Courier, monospace;
}