.box {
  padding: 10px;
  margin-bottom: 10px;
  border: 10px solid #333333;
}
.box2 {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #333333;
  display: inline-block;
}
.menu {
  padding: 10px;
  margin-bottom: 10px;
  position: fixed;
  background-color: rgba(237, 247, 255, 0.55);
  margin-left: auto;
  border: 5px solid #ffdd50;
}

.list {
  padding: 0px;
  margin-bottom: 0px;
  position: fixed;
  right: 0px;
  bottom:0px;
  background-color: rgba(237, 247, 255, 0.55);
  border: 5px solid #ffdd50;
}

.font1 {
  font-family: Consolas;
}