<head>
  <title>Fortnite Items</title>
  <meta name="description" content="@pdf114514">
  <link id="favicon" rel="icon" href="https://fortnite-api.com/images/cosmetics/br/cid_005_athena_commando_m_default/icon.png" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
  <script>
function copyToClipboard(ct) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val(ct).select();
  document.execCommand("copy");
  $temp.remove();
  //alert(`Copied! : ${ct}`);
}
</script>
</head>
<body bgcolor="#222222" text="#fff">
<!--<div class="list">
  <iframe src="/list"></iframe>
  </div>-->
<div class="menu">
{% for i in types %}<a href="{{i}}">{{i}}</a> {% endfor %} <a href="/">back to main</a>
</div>
<!--<p>ちょっと古いけど我慢してね!!!</p>-->
<table border="1">
<thead>
    <tr>
        <th>Image</th>
        <th>ID</th>
        <th>ID length</th>
        <th>Name</th>
        <th>Description</th>
    </tr>
</thead>
<tbody class="box">
{% for i in items.keys() %}
    <tr id="{{i}}">
  <th class="box2">
  {% if not items[i]['SmallImage']['assetPath'] == None %}
    <!--<img border="0" src="https://benbotfn.tk/api/v1/exportAsset?path={{items[i]['SmallImage']['assetPath']}}" width="128" height="128" alt="image">-->
	<img border="0" src="{{items[i]['SmallImage']['assetPath']}}" width="128" height="128" alt="image">
  {% else %}
    <img border="0" src="/image/none" width="128" height="128" alt="image">
  {% endif %}
</th>
<th class="box2 font1">
{{i}}
<br><br>
<button onclick="copyToClipboard('{{i}}')">Copy ID</button>
</th>
<th class="box2 font1">
{{ i|length }}
</th>
<th class="box2 font1">
{{items[i]['DisplayName']['finalText']}}
</th>
<th class="box2 font1">
{{items[i]['DisplayDescription']['finalText']}}
</th>
<tr>
{% endfor %}
</tbody>
</table>
</body>