<head>
  <title>Fortnite Items</title>
  <meta name="description" content="@pdf114514">
  <link id="favicon" rel="icon" href="https://fortnite-api.com/images/cosmetics/br/cid_005_athena_commando_m_default/icon.png" type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
  <script>
function copyToClipboard(ct) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val(ct).select();
  document.execCommand("copy");
  $temp.remove();
  //alert(`Copied! : ${ct}`);
}
</script>
</head>
<body bgcolor="#222222" text="#fff">
<!--<div class="list">
  <iframe src="/list"></iframe>
  </div>-->
<div class="menu">
{% for i in types %}<a href="{{i}}">{{i}}</a> {% endfor %} <a href="/">back to main</a>
</div>
<table border="1">
<thead>
    <tr>
        <th>Image</th>
        <th>ID</th>
        <th>ID length</th>
        <th>Name</th>
        <th>Description</th>
    </tr>
</thead>
<tbody class="box">
{% for i in items %}
    <tr id="{{i['path'].split('/')[-1]">
  <th class="box2" style="background-image: url(image/{{i['rarity']}});background-size: cover;">
  {% if not i['images']['smallIcon']['url'] == None %}
    <img border="0" src="{{i['images']['smallIcon']['url']}}" width="128" height="128" alt="image">
  {% else %}
    <img border="0" src="/image/none" width="128" height="128" alt="image">
  {% endif %}
</th>
<th class="box2 font1">
{{i['path'].split('/')[-1]}}
<br><br>
<button onclick="copyToClipboard('{{i['path'].split('/')[-1]}}')">Copy ID</button>
</th>
<th class="box2 font1">
{{ i['id']|length }}
</th>
<th class="box2 font1">
{{i['name']}}
</th>
<th class="box2 font1">
{{i['description']}}
</th>
<!--<th class="box2 font1">
<button onclick="copyToClipboard('{{i['path'].split('/')[-1]}}')">Copy ID</button>
</th>-->
<!--<th class="box2 font1">
  <form action="/list" method="post"><button type="submit" name="add" value="{{i['path'].split('/')[-1]}}">+</button></form>
</th>-->
{% if i['id'].lower().startswith('musicpack') %}
{% for j in mps.keys() %}
{% for k in i['path'].split('/')[-1].split('_')+[i['name']] %}
{% if k in j %}
<th>
<br><br><audio id="{{ i['id'] }}" src="https://benbotfn.tk/api/v1/exportAsset?path={{ mps.get(j) }}" loop preload="metadata" controls>Can't Play Audio.</audio>
</th>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
<tr>
{% endfor %}
</tbody>
</table>
</body>