<head>
  <link rel="stylesheet" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
  <script>
function copyToClipboard(ct) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val(ct).select();
  document.execCommand("copy");
  $temp.remove();
  //alert(`Copied! : ${ct}`);
}
</script>
</head>
<body style="background-color: rgba(153, 153, 153, 0.55);" text="#fff">
{% for i in ml %}
<div class="box">
<div class="box2 font1">
  {{ i }}
</div>
<div class="box2 font1">
{{ i|length }}
</div>
<div class="box2 font1">
  <button onclick="copyToClipboard('{{i}}')">Copy ID</button>
</div>
<div class="box2 font1">
  <form action="/list" method="post"><button type="submit" name="remove" value="{{i}}">-</button></form>
</div>
</div>
{% endfor %}
</body>
