<head>
    <title>Fortnite Items</title>
    <meta name="description" content="@pdf114514">
    <link id="favicon" rel="icon" href="https://fortnite-api.com/images/cosmetics/br/cid_005_athena_commando_m_default/icon.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body bgcolor="#808080" text="#fff">
<div class="menu">
{% for i in types %}<a href="{{i}}">{{i}}</a> {% endfor %} <a href="/">back to main</a>
</div>
{% for i in mps.keys() %}
<div class="box">
  {{ i }}<br><br><audio src="https://benbotfn.tk/api/v1/exportAsset?path={{ mps.get(i) }}" loop preload="metadata" controls>Can't Play Audio.</audio>
</div>
{% endfor %}
</body>
