
<body bgcolor="#222222" text="#fff" style="text-align: center;">
Hello
<br>
{% if 'dance' in types %}
{% for i in types %}
<a href="bb/{{i}}">{{i}}</a><br>
{% endfor %}
<a href="banner">banner</a><br>
<a href="newitem">new item</a><br>
<a href="/">back to main</a><br>
{% else %}
{% for i in types %}
<a href="{{i}}">{{i}}</a><br>
{% endfor %}
<a href="banner">banner</a><br>
<a href="newitem">new item</a><br>
<a href="bb">benbotfn</a><br>
{% endif %}
<a href="https://twitter.com/pdf114514">Twitter - @pdf114514</a><br>
</body>